nav.navbar.navbar-expand-lg.bg-light.navbar-covid-app
  .container-fluid
    a.navbar-brand(href='/home')
      strong.logo
        span.text-primary Covid
        span.text-secondary -App
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.me-2(href='/statistics') Statistics
        li.nav-item
          a.btn.btn-ghost.mt-1(href='/contact') Contact Us