extends ../layout

block content
  .container#stats-page
    .row.justify-content-between.mt-5
      div#data.col-sm-12.col-lg-4.shadow-lg.p-3.bg-body.rounded.mb-2
        div.m-3
            select#countries-list.form-select( aria-label="Default select example" onchange='update()')
              option(selected,value="world") World
              each name in countriesList
                option(value=`${name}`) #{name}
        .d-flex.flex-column.justify-content-between#country-info      
          include ../partials/statsTable 
      .col-sm-12.col-lg-8
        include ../partials/map
     
        
    

    


